.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 100%;
	background: #ff5511;
}

.header .form--weather {
	flex-direction: row;
}

.header .input--weather {
	margin: 0;
}

.header .button--submit {
	border-radius: 0;
}

.logo {
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.logo:hover {
	color: #444;
}