* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font: 16px Arial;
	color: #444;
}

h1 {
	max-width: 900px;
	font-size: 2.076rem;
}

h2 {
	font-size: 1.44rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	margin: 0.25rem 0;
	font-size: 1rem;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #fff;
}

ul, li {
	list-style: none;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 6rem 1rem;
	min-height: 100%;
	text-align: center;
}

@media screen and (min-width: 620px) {

	h1 {
		font-size: 2.488rem;
	}

	h2 {
		font-size: 1.728rem;
	}

	h3 {
		font-size: 1.44rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	section {
		justify-content: center;
	}
}