* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font: 16px Arial;
	color: #444;
}

h1 {
	max-width: 900px;
	font-size: 2.986rem
}

h2 {
	font-size: 2.074rem;
}

h3 {
	font-size: 1.44rem;
}

h4 {
	margin: 0.25rem 0;
	font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: #fff;
}

ul, li {
	list-style: none;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #ffbb66 url('~img/background-pattern.svg');
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem;
	text-align: center;
}

@media screen and (min-width: 620px) {

	h1 {
		font-size: 4.3rem;
	}

	h2 {
		font-size: 2.986rem;
	}

	h3 {
		font-size: 2.074rem;
	}

	h4 {
		font-size: 1.44rem;
	}

	section {
		padding: 3rem;
		justify-content: center;
	}
}