.form--weather {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input--weather {
	margin: 1rem;
	padding: 0.5rem;
	border: none;
	font-size: 1rem;
	color: #444;
}

.input--weather::placeholder {
	color: #bbb;
}

.button--submit {
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	background: #66aa44;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	transition: background 0.2s ease-out;
}

.button[disabled] {
	opacity: 0.4;
}

.button--submit:not([disabled]):hover {
	background: #227711;
}